<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <link href="https://allfont.net/allfont.css?fonts=agency-fb-bold" rel="stylesheet" type="text/css" />
    <title>Hello</title>
</head>
<body style="margin: 0;">
    <h1 style="font-size: 23px; margin: 0; font-family: Agency FB Bold; background-color: rgba(0, 0, 0, 0.445); color:white; padding: 4px 4px 2px 6px;">DAMAGE: <%= ejse.data('playerDamage')</h1>
</body>
</html>